@layer components.section {
    menu, li {
        place-content: stretch;
    }

    main > section {
        /*font-weight: 100;*/
    }

        main > section code {
            font-size: 0.5rem;
            font-weight: 100;
        }

            main > section code::before {
                content: "embed code: ";
                font-size: 1rem;
            }

        main > section > ul:not([class]) > li > [src$=".svg"]:first-of-type {
            grid-column: 2;
            place-self: center;
        }

        main > section > ul:not([class]) > li > *:not([src$=".svg"]):not(header):first-child {
            grid-column: 3;
        }

        main > section > ul > li > section a {
            &, * {
                display: initial;
            }
        }

        main > section > ul[empty] {
            > li, > li * {
                text-align: center;
                align-content: center;
                opacity: 0.7;
                font-style: italic;
                font-weight: 100;
            }
        }

        main > section menu {
            display: flex;
            justify-self: end;
        }

            main > section li:not(:hover) menu {
                opacity: 0.1;
            }

        main > section menu > li {
            min-width: 2rem;
            text-align: center;
        }

            main > section menu > li:not(:hover) {
                opacity: 0.7;
            }

            main > section menu a:hover {
                background-color: var(--accent-color);
            }

            main > section menu > li button:not(:hover) {
                background-color: transparent;
            }

    menu:has(a) {
        z-index: 2;
    }
}


ul.with-icon {
    grid-template-columns: 1fr;
    place-items: stretch;

    & > li {
        grid-template-columns: 2rem 1fr auto;
        place-items: stretch;

        & > *:not(img[src$=".svg"]):not(.icon):first-child {
            grid-column: 2;
        }

        & > section {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem 1ch;
            padding-inline-end: 0.5rem;

            & > *:first-child {
            flex-grow: 1;
            }
        }
    }
}

ul.without-icon {

    grid-template-columns: 1fr;
    place-items: stretch;

    & > li {
        grid-template-columns: 1fr auto;
        place-items: stretch;

        & > section {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem 1ch;
            padding-inline-start: 0.5rem;
            padding-inline-end: 0.5rem;

            & > *:first-child {
            flex-grow: 1;
            }
        }
    }
}