*:not(head, title, script, style, link), *::before, *::after {
	display: grid;
	margin: 0;
	padding: 0;
	border-radius: 0;
	border: none;
	box-sizing: border-box;
	font-weight: 100;
}

[popover]:not(:popover-open) {
	display: none;
}