footer {
    overflow: hidden;
    padding-inline: 1ch;
    position: sticky;
    bottom: 0;
    height: 1rem;
    background-color: var(--background-color);
    grid-template-columns: auto auto 1fr;
    place-items: center end;
}

footer, footer * {
    grid-auto-flow: column;
    gap: 1ch;
}

    footer > * {
        opacity: 0.5;
    }

    footer * {
        white-space: nowrap;
    }

        footer *:nth-last-of-type(2) {
            flex-grow: 1;
        }
