[horizontal] {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

[inline] {
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    gap: 1ch;
}


[vertical] {
    grid-auto-flow: row;
    place-content: start stretch;
}