@layer ux {

    @layer popover {
        [popover]:not(:popover-open) {
            display: none !important; /* this seems to actually be a usecase for important lol */
        }

        /* disable ability to click on items outside of the popover, if attribute captive is set */
        body:has([captive][popover]:popover-open) {
            pointer-events: none;
        }
        [captive]:popover-open {
            pointer-events: all;
        }
    }

    [inert] {
        opacity: 0.5;
    }

    [risky] {
        --accent-color: var(--warning-color);
    }

    [dangerous] {
        --accent-color: var(--danger-color);
    }

}