body > *:has(+ footer) {
    padding-bottom: 3rem;
}

footer {
    position: sticky;
    bottom: 0;
    align-self: end;
    background: #000A;
    opacity: 0;
    animation: footer-fadein 1.666s cubic-bezier(0.390, 0.575, 0.565, 1.000);
    animation-delay: 1s;
    animation-fill-mode: forwards;
    grid-auto-flow: row;
    grid-template-columns: auto min-content min-content;
    height: 2rem;
    backdrop-filter: blur(0.25rem);
    cursor: default;
    overflow: hidden;
}

    footer > * {
        text-align: right;
        line-height: 2rem;
        white-space: nowrap;
        opacity: 0.5;
    }

        footer > *:not(:first-of-type)::before {
            content: "|\00a0";
            color: white;
        }

        footer > *::after {
            content: "\00a0";
        }

@keyframes footer-fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
