form {
}



input {
    font: inherit;
    min-height: 2rem;
    background: #111;
    color: #BBB;
    text-align: center;
}

    input::placeholder {
        opacity: 0.5;
    }

    input:read-only {
        background-color: transparent;
    }



label {
    text-align: center;
    line-break: normal;
    text-wrap: balance;
    display: block;
    line-height: 1rem;
    padding-block: 0.5rem;
    color: var(--primary);
}

    label > *:first-of-type {
        margin-top: 0.5rem;
    }



:is(button, input[type=submit]) {
    background-color: #222;
    color: #DDD;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    transition: all 0.33s linear;
    text-decoration-color: transparent;
    text-align: center;
    cursor: default;
    opacity: initial;
    align-items: center;
    min-height: 2rem;
}

    :is(button, input[type=submit]):hover:not(:disabled) {
        border-color: #DDD;
        text-decoration-color: transparent;
        filter: invert();
    }

    :is(button, input[type=submit]):disabled {
        opacity: 0.7;
        text-decoration-color: transparent;
    }

    :is(button, input[type=submit]) svg {
        max-width: 2rem;
    }
