header {
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 1.5rem 0;
    backdrop-filter: blur(10px);
    background-color: rgb(0, 0, 0, 0.15);
    width: auto;
    /*text-shadow: 0 0 5rem black, 0 0 5rem black, 0 0 5rem black, 0 0 5rem black, 0 0 5rem black, 0 0 5rem black, 0 0 5rem black, 0 0 5rem black, 0 0 5rem black, 0 0 5rem black;*/
    box-shadow: 0 0 1.5rem black;
}

h1 {
    color: var(--secondary);
    line-break: normal;
    text-wrap: balance;
    overflow: hidden;
}

[centered] h1 {
    text-align: center;
}

header h1 {
    font-size: 2em;
    font-weight: bold;
    color: white;
    grid-auto-flow: column;
    place-self: start;
    background-color: transparent;
}

h1:focus-visible {
    outline: none;
}