li {
    list-style-type: none;
    position: relative;
    grid-auto-flow: column;
}

    li > *:last-child:not(:first-child) {
        text-align: right;
    }

    li:nth-child(2n + 1), tbody tr:nth-child(2n + 1) {
        background-color: #111;
    }

    li:nth-child(2n), tbody tr:nth-child(2n) {
        background-color: #222;
    }

    li button {
        padding-inline: 1rem;
        aspect-ratio: 1;
        opacity: .3;
        mix-blend-mode: screen;
        font-size: 2rem;
        translate: var(--sidemargin) 0rem;
    }

        li button:hover {
            opacity: 1;
        }

*[command-buttons] {
    background-color: white;
}
*[command-buttons] * {
    width: 1rem;
}