body:has(main[centered]) {
    place-self: stretch center;
    max-width: 60rem;
}

body:has(main[centered][thin]) {
    max-width: 20rem;
}

main {
    grid-gap: 2rem;
}

main > section {
    grid-gap: 1rem;
}

main > section > h2 {
    font-size: 1.4rem;
    line-height: 2rem;
}