html {
    padding: 0;
}

li, td, tr td:first-of-type > *, h1, b, progress {
    padding: 0.5rem 0;
}

    li, h1, td:first-of-type, tr td:first-of-type > * {
        padding-left: var(--sidemargin);
    }

    td {
        padding-inline: 1rem;
    }