* {
    contain: content;
}

html {
    contain: none;
}

* {
	margin: 0;
	padding: 0;
	width: 100%;
	border-radius: 0;
	box-sizing: border-box;
	font-weight: 100;
	font-size: inherit;
}

* {
    display: grid;
}

head, script {
    display: none;
}

p, p *, code, code * {
    display: inline;
}
html {
    height: 100%;
    min-height: 100%;
    app-region: drag;
}

body {
    height: calc(100% - env(titlebar-area-height,0));
    display: block;
    margin-top: env(titlebar-area-height, 0);
    app-region: no-drag;
}
table, table * {
    display: revert;
    border-collapse: collapse;
}

td {
    white-space: nowrap;
}

td:not(:first-of-type) {
    text-align: right;
}

    tr td:first-of-type {
        position: relative;
    }

tr td:first-of-type > * {
    position: absolute;
    width: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-overflow: ellipsis;
}
a, a * {
    display: inline;
}

a {
    color: #DDD;
    text-decoration-color: transparent;
    opacity: 0.8;
    transition: opacity 0.33s linear, text-decoration-color 0.33s linear;
    line-break: anywhere;
}
    a:hover {
        text-decoration-color: #DDD;
        opacity: 1;
    }

    a[icon] {
        scale: 2.5;
        padding-inline: 0.25rem;
        text-decoration: none;
        display: inline-block;
        filter: grayscale(1) brightness(1.1) contrast(5);
        font-size: small;
    }
aside {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

b {
    color: lightgreen;
    font-weight: 100;
}

body {
	padding-bottom: 4rem;
}

footer {
	text-align: center;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background: black;
}

	footer p {
		opacity: 0.7;
	}

button, input[type=submit] {
    background-color: #222;
    border: 0.25rem solid #444;
    padding: 0.25rem;
    color: #DDD;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    transition: all 0.33s linear;
    text-decoration-color: transparent;
    text-align: center;
    cursor: default;
    opacity: initial;
    align-items: center;
}

    button:hover:not(:disabled), input[type=submit]:hover:not(:disabled) {
        border-color: #DDD;
        text-decoration-color: transparent;
    }

    button:disabled, input[type=submit]:disabled {
        opacity: 0.7;
        text-decoration-color: transparent;
    }

code {
    margin-top: 0.625rem;
    margin-bottom: 0.125rem;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    background: rgba(0, 0, 0, 0.25);
    width: auto;
    color: white;
    opacity: 0.8;
}

pre code {
    color: black;
    opacity: 1;
    background: rgba(0, 0, 0, 0.25) !important;
}
h1 {
    color: var(--secondary);
    overflow: hidden;
}

header h1 {
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin: 1.5rem 0;
    grid-auto-flow: column;
}
:root {
    --primary: #DDD;
    --default: var(--primary);
    --secondary: #EEE;
    --sidemargin: 1rem;
}

html {
    background: black;
    font-family: monospace;
    font-size: 1.414rem;
}

* {
    color: var(--primary)
}
svg, path {
    fill: var(--primary)
}

*[default] {
    --primary: #DDD;
    --secondary: #EEE;
}

*[green] {
    --primary: green;
    --secondary: lightgreen;
}

*[red] {
    --primary: brown;
    --secondary: lightcoral;
}

html[full-width] {
    --sidemargin: 0;
}
li {
    list-style-type: none;
    position: relative;
}

    li:nth-child(2n + 1), tbody tr:nth-child(2n + 1) {
        background-color: #111;
    }

    li:nth-child(2n), tbody tr:nth-child(2n) {
        background-color: #222;
    }

    li button {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        bottom: 0.5rem;
        width: 4rem;
        opacity: 0.3;
    }

        li button:hover {
            opacity: 1;
        }

*[command-buttons] {
    background-color: white;
}
*[command-buttons] * {
    width: 1rem;
}
nav {
    grid-auto-flow: column
}

    nav[breadcrumbs] {
        grid-auto-columns: max-content;
        grid-gap: 1rem
    }
nav[breadcrumbs] {
    display: inline;
}
    nav[breadcrumbs] * {
        white-space: nowrap;
    }

    nav[breadcrumbs], nav[breadcrumbs] a:last-of-type, nav[breadcrumbs] a:first-of-type, nav[breadcrumbs] :not(a) {
        color: var(--default) !important;
    }

        nav[breadcrumbs] a:not(a:last-of-type):not(a:first-of-type) {
            color: var(--secondary) !important;
            opacity: 0.4;
        }

        nav[breadcrumbs] a:hover:not(a:last-of-type):not(a:first-of-type) {
            opacity: 0.6;
        }

    nav[breadcrumbs] a:first-of-type {
        scale: 1.5;
        translate: 0 -0.25rem;
        padding-inline: 0.25rem;
        text-decoration: none;
    }
html {
    padding: 0;
}

li, td, tr td:first-of-type > *, h1, b, progress {
    padding: 0.5rem 0;
}

    li, h1, td:first-of-type, tr td:first-of-type > * {
        padding-left: var(--sidemargin);
    }

    td {
        padding-inline: 1rem;
    }
progress {
    height: 3rem;
}
