body > header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    backdrop-filter: blur(10px);
    
    grid-template-columns: 1fr auto calc(100% - env(titlebar-area-width, 100%));
    place-items: start;
    app-region: drag;
    background-color: var(--background-color);
}

    body > header *:not(a) {
        user-select: none;
    }

    body > header *:not(nav) {
        app-region: no-drag;
    }

    body > header nav {
        color: var(--secondary);
        line-break: normal;
        text-wrap: balance;
        overflow: hidden;
        font-size: 2em;
        font-weight: bold;
        color: white;
        grid-auto-flow: column;
        background-color: transparent;
        line-height: 2rem;
    }