progress {
    height: 2rem;
    margin: .5rem 0;
}

/* firefox fixes */

progress {
    background: gray;
    border: inherit;
}

progress::-moz-progress-bar {
    background-color: var(--primary);
}