*, *::before, *::after {
	margin: 0;
	padding: 0;
	width: 100%;
	border-radius: 0;
	border: none;
	box-sizing: border-box;
	font-weight: 100;
	font-size: inherit;
	background: inherit;
	line-break: anywhere;
	outline: none;
}
