table, table * {
    display: revert;
    border-collapse: collapse;
}

td {
    white-space: nowrap;
}

td:not(:first-of-type) {
    text-align: right;
}

    tr td:first-of-type {
        position: relative;
    }

tr td:first-of-type > * {
    position: absolute;
    width: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-overflow: ellipsis;
}