table, table * {
    display: revert;
    border-collapse: collapse;
}

td {
    white-space: nowrap;
}

td:first-of-type {
    max-width: 0;
    overflow:hidden;
}

td:not(:first-of-type) {
    text-align: right;
}
